{% extends 'base.html' %}


{% block title %}
    خروچ
{% endblock %}

{% block body %}

    <div class="custom-auth-card">

    <h2>خروج از حساب کاربری</h2>

    <p>
        آیا از خروج از حساب کاربری خود اطمینان دارید؟
    </p>

    <form method="post">

        {% csrf_token %}

        <button type="submit" class="custom-auth-btn">
            خروج
        </button>

        <a href="{% url 'home_page' %}" class="custom-auth-cancel-btn">
            انصراف
        </a>

    </form>

</div>

{% endblock %}