{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}


{% block body %}

    {% if request.user.is_authenticated %}
        <h4 id="alert_order" class="alert alert-danger">شما قبلا به سایت ما ورود کرده اید نمی توانید رمز خود را عوض کنید</h4>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="margin_form">
                    <h2 class="text-center text-warning">ارسال ایمیل</h2>
                    <h4 class="text-center text-warning">برای تغیر رمز عبور ابتدا ایمیل خود را وارد کنید</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.email.label_tag }}
                        {% render_field form.email class='form-control' %}
                        {{ form.email.errors }}
                        <a href="{% url 'account_login' %}" id="sing_out" class="btn btn-danger"><i class="fa fa-sign-out">برگشت</i></a>
                        <button id="submit" type="submit" class="btn btn-primary">ارسال</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}