{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    تغیر رمز عبور
{% endblock %}


{% block body %}

    {% if request.user.is_authenticated %}
        <h4 id="alert_order" class="alert alert-danger">شما قبلا به سایت ما ورود کرده اید نمی توانید رمز خود را عوض
            کنید</h4>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="margin_form">
                    <h2 class="text-center text-warning">تغیر رمز عبور</h2>
                    {% if not token_fail %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.password1.help_text }}
                            {{ form.password1.label_tag }}
                            {% render_field form.password1 class='form-control' %}
                            {{ form.password1.errors }}
                            {{ form.password2.help_text }}
                            {{ form.password2.label_tag }}
                            {% render_field form.password2 class='form-control' %}
                            {{ form.password2.errors }}
                            <a href="{% url 'account_reset_password' %}" id="sing_out" class="btn btn-danger"><i
                                    class="fa fa-sign-out">برگشت</i></a>
                            <button id="submit" type="submit" class="btn btn-primary">ارسال</button>

                        </form>

                    {% else %}
                        <h4 class="text-center text text-warning">زمان استفاده از کد ارسالی تمام شده است لطفا دوباره
                            تلاش کنید</h4>
                        <a href="{% url 'account_reset_password' %}"><h4 class="text text-center"><i
                                class="fa fa-sign-out text-danger">برگشت</i></h4></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}