{% extends 'base.html' %}


{% block title %}
    تایید فراموشی رمز عبور
{% endblock %}


{% block body %}
    {% if request.user.is_authenticated %}
        <h4 id="alert_order" class="alert alert-danger">شما قبلا به سایت ما ورود کرده اید نمی توانید رمز خود را عوض
            کنید</h4>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="margin_form_2">
                    <h2 class="text-center text-success">ایمیل شما با موفقیت ارسال شد</h2>
                    <h4 class="text-center text-success">کد را به ایمیل شما ارسال کردیم از طریق کد رمز را عوض کنید</h4>
                    <a class="text text-center" href="{% url 'account_login' %}"><h4><i class="fa fa-sign-out text-danger">برگشت</i>
                    </h4></a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}