{% extends 'base.html' %}
{% load static %}


{% block title %}
    ویرایش حساب کاربری
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-right">
                {% if user.avatar %}
                	<img id="image_size" src="{{ user.avatar.url }}">
                    {% else %}
                    <img id="image_size" src="{% static 'images/cart/one.png' %}">
                {% endif %}
                {% include 'user_panel_module/include/user_panel_menu_component.html' %}
            </div>
            <div class="col-md-8">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                    {{ form.avatar.label_tag }}
                    {{ form.avatar }}
                    {{ form.avatar.errors }}
                    <button type="submit" class="btn btn-primary">ویرایش</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}