{% extends 'base.html' %}
{% load static %}


{% block title %}
    ویرایش رمز عبور
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-right">
                {% include 'user_panel_module/include/user_panel_menu_component.html' %}
            </div>
            <div class="col-md-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button id="submit" type="submit" class="btn btn-primary">ویرایش</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}