.custom-auth-card {
    max-width: 500px;
    margin: 80px auto;
    padding: 40px;

    background: #ffffff;

    border: 1px solid #e5e5e5;
    border-radius: 12px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.custom-auth-card h2 {
    color: #222;
    margin-bottom: 20px;
}

.custom-auth-card p {
    color: #666;
    line-height: 1.8;
}

.custom-auth-btn {
    border: none;

    padding: 12px 30px;

    background: red;
    color: #fff;

    border-radius: 6px;

    cursor: pointer;
}

.custom-auth-alert {
    background: #fff3cd;

    border: 1px solid #ffe69c;

    padding: 20px;

    border-radius: 8px;
}

.custom-auth-alert h4 {
    color: #664d03;
}

.custom-auth-alert p {
    color: #664d03;
}

.custom-auth-cancel-btn {
    border: none;

    padding: 11px 30px;

    background: blue;
    color: #fff;

    border-radius: 6px;
    margin-right:10px;

    cursor: pointer;
}