{% load thumbnail %}
{% load poll_extras %}

<a href="{{ product.detail_url }}">
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    {% thumbnail product.image '300x300' crop='center' as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <h2>{{ product.price|three_digital_currency }}</h2>
                    <p>{{ product.title }}</p>
                    {% if request.user.is_authenticated %}
                        <a onclick="AddToOrder({{ product.id }},'list')"
                           class="btn btn-default add-to-cart"><i
                                class="fa fa-shopping-cart"></i>افزودن به سبـد
                            خرید</a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</a>